
<h1>My Profile</h1>


<div class="photo">
<%= image_tag @user.image.url(:thumb), class: "profile_pic" %>
</div>

<br>

<div class="name">
 Name: <%= @user.name %>
 </div>

<br>
<div class="username">
Username: <%= @user.username %>
</div>

<br>

<div class="bio">
Bio: <%= @user.bio %>
  </div>
 </div>

