<p id="notice"><%= notice %></p>

<div class= 'head'>
<h1>Trending Books</h1>
</div>
<table>

  <tbody>
    <% @books.each do |book| %>

      <tr>
      <div class="grid">
      <% if book.url %>
       <%= link_to image_tag(book.url), book %>
        <% end %>
      </div>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

<%= link_to 'New Book', new_book_path %>
