// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {

  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 2em;
  padding-top: .5em;
  color: #BCE7FD;
  text-align: left;
  }

h2 {
  font-size: 1.4em;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 75%;
}
.grid {
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 10px;
}
