// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  font-family: 'Roboto slab', serif;
  font-size: 2em;
  padding-top: .5em;
}

.grid {
  display: inline;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  height: 10px;
}
