// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign-up-box{
  height: 350px;
  width: 60%;
  margin: 0 auto;
  padding-top: 4em;
  background-color: gradient;
  top: 25%;
  left: 20%;
  position: absolute;
  border-radius: 2em;

}

.name{
  float:left;
  // margin-right: 5em;
  left: -11%;
  top: 55%;
  position: absolute;
}

.form{
  float: right;
  margin-right: 3%;
  top: -20%;
  font-family: 'Open Sans Condensed', sans-serif;
  width: 250px;
  padding: 4px;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #435160;
  outline: none;
  color: #6D7781;
  font-size: 16px;
}

h1 {
  text-align: left;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10em;
  color: #E84545;
  link-decoration: none;
  // padding-bottom: 1em;
  padding-left: 1em;

}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #BCE7FD;
  font-size: 2em;
  padding-left: 3.1em;
  text-align: center;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  color:  #BCE7FD;
  font-size: 3.5em;
  margin-left: -0.2em;

}


input[type="submit"] {
  background: #BCE7FD;
  border: 0;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  margin-left: -14px;
  margin-top: 4px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
  border-bottom: 0px none;
}
input[type="submit"]:hover {
  background: #BCE7FD;
  animation-name: shake;
}


.animated {
  animation-fill-mode: both;
  animation-duration: 1s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
