
<img class="Menu" src="http://i.imgur.com/EOGavII.png" alt="Menu" />
<nav role='navigation'>
 <div class="close"> <img src="http://i.imgur.com/TS37iBq.png" alt="Close" /></div>
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>  
  <!-- <div class= "hamburger-menu">
      <i class="fa fa-bars fa-2x"></i>
      <%= link_to 'Sign Up', new_user_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %> |
      <%= link_to 'Login', root_path, {:style=>'color:#FFFFFF;', :class => "css_class"} %> |
      <%= link_to_unless(@current_user.nil?, "Profile", user_path(current_user), {:style=>'color:#FFFFFF;', :class => "css_class"}) %>
      <%= link_to 'Logout', sessions_path, {:style=>'color:#FFFFFF;', :class => "css_class", method: 'delete'} %> |

  </div> -->
